<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<header th:insert="~{fragments/head}"></header>
	<div class="modal modal-sheet position-static d-block  p-4 py-md-5"
		tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content rounded-4 shadow">
				<div class="modal-header p-5 pb-4 border-bottom-0">
					<h1 class="fw-bold mb-0 fs-2">Modifica el empleado</h1>
				</div>

				<div class="modal-body p-5 pt-0">
					<form action="editEmpleado" method="post">
					<input type="hidden" name="id" th:value="${id}">
						<div class="form-floating mb-3">
							<input type="email" class="form-control rounded-3"
							th:value="${email}"
								id="floatingInput" name="email" placeholder="email"
								required="required"> <label for="floatingInput">Email</label>
						</div>
						<div class="form-floating mb-3">
							<select name="rol" class="form-select">
								<option th:each=" Rol: ${roles}"
									th:value="${Rol.id}" th:text="${Rol.nombre}"></option>
							</select> <label>Categoria</label>
						</div>
						<div class="form-floating mb-3">
							<input required="required" class="form-control rounded-3"
							th:value="${nombre}"
								type="text" name="nombre" id="fNombre" placeholder="nombre"><label
								for="fNombre">Nombre</label>
						</div>
						<div class="form-floating mb-3">
							<input required="required" class="form-control rounded-3"
							th:value="${apellidos}"
								type="text" name="apellidos" id="fApellidos"
								placeholder="apellidos"> <label for="fApellidos">Apellidos</label>
						</div>
						
						<button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
							type="submit">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer th:insert="~{fragments/footer}" style="margin-top: 20%;"></footer>
</body>
</html>