<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:insert="~{fragments/head}"></header>

	<header>
		<div style="text-align: right; margin-right: 2%; margin-top: 1%;">
			<form action="createEmpleado" method="get">
				<button class= "btn btn-success" type="submit" value="Agregar">Agregar</button>
			</form>
		</div>
	</header>
	<div class="row d-flex">
	<div th:each="Empleado:${empleados}" class="col-12 col-sm-4" style="text-align: center;">
	<div class="container py-5 align-content-center" tabindex="-1" role="dialog" id="modalSheet">
  	<div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
		<h3 th:text="${Empleado.nombre}">Nombre Cliente</h3>
		<p th:text="${Empleado.email}"></p>
		<form method="get" action="">
			<input type="hidden" name="id" th:value="${Empleado.id}"> 
			<button class="btn btn-warning" type="submit" value="Modificar" formaction="editEmpleado">Modificar </button>
				<button class="btn btn-danger" onclick="if(!confirm('¿Desea despedir a este empleado?')){return false;}" formaction="deleteEmpleado">Despedir</button>

		</form>
	</div>
	</div>
	</div>
	</div>
	</div>
        <footer th:insert="~{fragments/footer}" style="margin-top: 20%;"></footer>
</body>
</html>